* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

h2 {
    color: #333333;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-container {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background: #efefef;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

